<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %> 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            
          </div>
   <% }); %>
<% } %>

<% if(success_msg != '') { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success_msg %>
    
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= error_msg %>
    
  </div>
<% } %>

<% if(error != '') { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= error %>
    
  </div>
<% } %>

<style>
.alert {
  position: relative;
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.15rem;
}   
.alert-warning {
  color: white;
  background-color:rgb(14, 14, 14);
  position: relative;
  text-align: center;
  box-shadow: 0rem 0rem 0.6rem rgb(255, 0, 0,0.8);
}

.alert-success{
  color: white;
  background-color:rgb(14, 14, 14);
  position: relative;
  text-align: center;
  box-shadow: 0rem 0rem 0.6rem rgb(57, 168, 23,0.8);

}




</style>