<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/boardStyle.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function(){
            $('.icon').click(function(){
                $('ul').toggleClass('show');
                $('.container').toggleClass('hide');
            }) 
        })
    </script>
</head>
<nav>
    <ul>
      <li><a href="/dashboard/bmi" class="nav--button">BMI / BMR</a></li>
      <li><a href="/dashboard/todo" class="nav--button">To Do List</a></li>
      <li><a href="/dashboard/user" class="nav--button">Profil Użytkownika</a></li>
      <li><a href="/dashboard/start" class="nav--button">Start</a></li>
      <li><a href="/users/logout" class="nav--button">Wyloguj się</a></li>
    </ul>
    <label class="icon">
      <i class="fas fa-bars"></i>
    </label>
  </nav>

<body>
    <div class="container dashboard--container">
        <div class="box">
            <h1 class="dashboard--main--text">Witaj <%= user.name %> !!!</h1>
            <div class="dashboard--smallBox">
                <h3 class="dashboard--text"> 
                    Jest to strona poświęcona aktywnemu trybu życia, ma na celu nakierować ciebie 
                    i pomóc z prawidłowym funkcjonowaniem. Dzięki tej aplikacji będziesz mógł:</h3>
                    <li>Obliczyc swoje BMI oraz BMR</li>
                    <li>Zapisać niezbędne dane twojego organizmu</li>
                    <li>Zapisac swoje najbliższe cele dzięki to do list</li>
                    <li>Stworzyć prostą, poglądową dietę, która ma cię nakierować na odpowiednie kaloryczność</li>
                    <li>Wygenerować trening w zależności od liczby dni trenujących w tygodniu</li>
                    <li>Wszystkie najważniejsze informacje wysłać na maila byś miał wgląd w kazdym miejscu</li>
                    <li>Nabrać podstawowej wiedzy na temat zdrowia i cwiczeń</li>
            </div>
            <div class="dashboard--link">
                <a href="" class="dashboard--exresice"></a>
                <a href="" class="dashboard--diet"></a>
            </div>
        </div>
    </div>

</body>


</html>