<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/boardStyle.css" type="text/css">

</head>
<nav>
    <a href="/dashboard/bmi" class="nav--button">Twoje BMI</a>
    <a href="/dashboard/todo" class="nav--button">To Do List</a>
    <a href="/dashboard" class="nav--button">Strona główna</a>
    <a href="" class="nav--button">......</a>
    <a href="/users/logout" class="nav--button">Wyloguj się</a>

</nav>

<body>
    <div class="container dashboard--container">
        <div class="dashboard--box">
            <h1 class="dashboard--main--text">Witaj <%= user.name %> !!!</h1> 
            <div class="dashboard--smallBox">
            <p class="dashboard--text"> dasdasdsad asdas dasd asdasd asd sad as dasd asdas dasdas dasdas dasd asd asd asd as
                dasdsadasdsadasdsad as dasd asd ad asd asd asda sd asd asd asd asd asd as
                 asdadasdsad sad asd sa das dasd asd sad asd asd sad asd sadsad asd as das da das
                  dads a dasd asd asd asd asdasd asdas das dsa
            </p>
            </div>
            <div class="dashboard--link">
                <a href="" class="dashboard--exresice"></a>
                <a href="" class="dashboard--diet"></a>
            </div>
        </div>
    </div>

</body>


</html>