<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styleLR.css" type="text/css">
</head>

<body>
    <div class="welcome--box">
        <div class="container">
            <h1 class="text-center--welcome "><i class="fas fa-sign-in-alt"></i>  Stwórz konto lub </h1>
            <h1 class="text-center--welcome "><i class="fas fa-sign-in-alt"></i>  zaloguj się</h1>
            <a href="/users/login" class="welcome--button">Zaloguj się</a>
            <a href="/users/register" class="welcome--button">Zarejestruj się</a>
            
        </div>
    </div>
</body>
    
</html>